<div id="accordion" *ngFor="let A of actualitee">
    <div class="card">
      <div class="card-header" id="heading">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
            <a [routerLink]="['/actualites/'+A.id]"><p >{{ A.titre }}</p></a><br>
          </button>
        </h5>
      </div>
  
      <div id="" class="" aria-labelledby="" data-parent="#accordion">
        <div class="card-body">
            <img src= '{{ A.photo }}' alt="">
            <p class="text">{{ A.description }}</p>
        </div>
      </div>
    </div>
</div>
